* {
  margin: 0;
  padding: 0;
}

#main {
  position: relative;
  width: 400px;
  height: 400px;
  margin: auto;
}

#main h1 {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

#boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  height: 200px;
  width: 200px;
  transition: transform 1s linear;
  transform-style: preserve;
}

#top-left {
  background-color: red;
}

#top-right {
  background-color: yellow;
}

#bottom-left {
  background-color: blue;
}

#bottom-right {
  background-color: green;
}

#boxes:hover #top-left {
  transform-origin: top left;
  transform: rotate(90deg);
}

#boxes:hover #top-right {
  transform-origin: top right;
  transform: rotate(-90deg);
}

#boxes:hover #bottom-left {
  transform-origin: bottom left;
  transform: rotate(-90deg);
}

#boxes:hover #bottom-right {
  transform-origin: bottom right;
  transform: rotate(90deg);
}
